@import "tailwindcss";

@theme {
  --color-tierra-white: #fffffe;
  --color-tierra-lime: #98e22e;
  --color-tierra-mid: #4e9c3d;
  --color-tierra-forest: #0f7335;
  --color-tierra-forest-dark: #0b3212;
  --color-tierra-sage: #bcd69a;
  --color-tierra-neutral: #0b3212;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
    background-color: var(--color-tierra-white);
  }
}
